{% extends "layout.html" %}

{% block title %}
Log in
{% endblock %}

{% block main %}
<form action="/login" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password">
    </div>
    <button class="btn btn-primary btn-dark" style="color: #167e56; font-weight: 600;" type="submit">Log In</button>
</form>
{% endblock %}